@tailwind base;
@tailwind components;
@tailwind utilities;

.slider_wraper{
    @apply flex h-screen transition-all  duration-1000  items-center w-screen;
}
#registerPage{
    background-image: url("../public/images/registerPage.jpg");
   width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}
.blue_wave_svg{
    background-image: url("../public/images/svg/Live-Wave-Background.svg");
   
    background-position: center; /* Center the image */
    background-size: 100% 100%;
    background-repeat: no-repeat; /* Do not repeat the image */
    
}
#loginPage{
    background-image: url("../public/images/loginPage.jpg");
   width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
}

.ui_onHover{
    @apply list-none border-slate-600 cursor-pointer   hover:border-b-[1px] hover:text-slate-700 w-1/2
}

.gradient_bg {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.gradient_bg_varient {
	background: linear-gradient(-45deg,  #e73c7e, #ee7752, #23d5ab, #fbbf24);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.gradient_bg_pay {
	background: linear-gradient(-45deg,  #f43f5e, #ec4899, #22d3ee, #14b8a6);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo{
	color: #10b981;
	position: relative;
}

